*-----------------------------------------------------*


# 基本設定

LLMのモデル名
LLM_model=gemma-4-26B-A4B-it-ultra-uncensored-heretic-Q4_K_M.gguf

ポート番号
LLM_port=9001

ホスト番号
LLM_host=True


応答を小チャンクごとに受け取るか(true推奨)
stream=true

LLMが考えるか(false推奨)
think=false

その会話と関連度が高いものをいくつ呼ぶか(自然数のみ)
top_k=5


*-----------------------------------------------------*


# Discord設定

botのトークン
Token=


*-----------------------------------------------------*


# 音声認識

音声認識ON/OFF
STT=false

[
STTがTrueである場合

  [
  moonshine_voiceを使う場合
moonshine_voice=true

    [
    STTモデル絶対パス(moonshine_voice)
moonshine_model=C:\My_mix\AI\ver1.1\STT_models\moonshine\base-ja

    ModelArchの種類
moonshine_arch=base
    ]


  Qwen3-ASRを使う場合
Qwen3-ASR=false

    [
    ]

  ]
]


*-----------------------------------------------------*


# 音声合成

音声合成ON/OFF
TTS=true

[
  TTSがTrueである場合

  [
  AivisSpeechを使う場合
AivisSpeech=True

    [
    AivisSpeechのポート番号(任意のポート)
AivisSpeech_Port=41715

    SpeakerのID(Aivis_Speakers_list.batで確認できる10桁くらいの数字)
Aivis_Speaker=1878365378

    話す速度(0.5～2.0)
Aivis_Speed=1.3
    ]

  ]
]