# 基本設定

ollamaを使う場合
ollama=false

 ollamaがtrueの場合

 [
 LLMの名前
LLM=ver1.0:latest

 Embeddingモデルの名前
Embedding=kun432/cl-nagoya-ruri-base:111m
 ]

vLLMを使う場合
vLLM=false

kobold.cppを使う場合(標準)
kobold=true

 koboldがtrueの場合

 [
 推論LLM
main_LLM=http://localhost:9001/v1

 要約LLM
sum_LLM=http://localhost:9002/v1
 ]


*-----------------------------------------------------*


# LLMの設定

応答を小チャンクごとに受け取るか
stream=true

LLMが考えるか(false推奨)
think=false

その会話と関連度が高いものをいくつ呼ぶか(自然数のみ)
top_k=5


*-----------------------------------------------------*


# 音声認識

音声認識ON/OFF
STT=false

 STTがTrueである場合

 [
 moonshine_voiceを使う場合
moonshine_voice=true

  [
  STTモデルパス(moonshine_voice)
moonshine_model=C:\My_mix\AI\ver1.1\STT_models\moonshine\base-ja

  ModelArchの種類
moonshine_arch=base
  ]

 Qwen3-ASRを使う場合
 Qwen3-ASR=false

  [
  ]

 ]


*-----------------------------------------------------*


# 音声合成

音声合成ON/OFF
TTS=true